:root {
    /* Preview Pallet Colours */
    --text-colorBlack: #333333;
    --body-background-color: #212121;
    --header-color: #313131;
    --card-background-color: #3f3f3f;
    --sidebar-background-color: #171717;
    --white-text: #ffffff;
    --sidebar-text-color: #e3e3e3;
 }